<h1>Hello {{title}}</h1>
<h3>I'm {{name}} and I'm {{age}} years old </h3>

tu nombre
<input (keyup)="changeMultiSkills($event)" type="text"[value]="me.multiSkills" />
<img style="max-height:100px" [src]="imgLink" alt="image"/>
<button (click)="toggleButton()">+</button>
<br/>
tus skills:{{me.multiSkills}}
<progress max=100 [value]="me.skills"></progress>
<div (scroll)="onScroll($event)" class="box">
  <p>Soy juan david, pseudo escritor super mejorado que ahora programa en angular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis sagittis rhoncus. Nunc ac consectetur odio, non lacinia purus. Aliquam quis ante id urna rhoncus rutrum. Nam rhoncus maximus lectus in cursus. Cras a odio mi. Ut sed accumsan felis. Ut placerat sem eu orci semper, vitae luctus enim hendrerit. Praesent finibus vitae turpis at dapibus. Aenean euismod faucibus augue, in semper mi gravida sit amet. Aliquam iaculis ante vitae dui molestie bibendum. In et nulla nisi. Maecenas tortor justo, vulputate ut porta sit amet, suscipit nec orci. Nullam ac blandit purus. Aliquam tincidunt nunc non eleifend congue.</p>
</div>


//ahora con egModel

<div>
  <p>{{input}}</p>
  <input [(ngModel)]="input" type="text">
  <br/>
  //usando atributos de ngModel
  <input required="true" type="text" #anotherInput="ngModel" [(ngModel)]="input">
  <p>{{anotherInput.valid}}</p>
  <p>ahora dame tu edad</p>
  <input type="number"  max="100" min="18" #ageInput="ngModel" [(ngModel)]="me.age">
  <p>{{ageInput.valid}}</p>
</div>


//como el renderizado condicional
<div *ngIf="me.age > 18; else noCumple">
  <p>Soy mayor de edad</p>
</div>
<ng-template #noCumple>
  <p>No cumple</p>
</ng-template>
<hr/>
<h1>añadir nombres</h1>
<p>{{namesString}}</p>
<input type=" text" (keyup.enter)="addName($event)" name="names" [(ngModel)]="name">
<button (click)="addName($event)">+</button>
<ul>
  <li *ngIf="names.length == 0">
    <p>No ha nombres</p>
  </li>
  <li *ngFor="let name of names; index as i">
    {{name}}  {{i}}
    <button (click)="deleteName(i)">-</button>
  </li>
</ul>
