<div class="container">
  // add products
  <div class="row">
    <div class="col-md-12">
      <h1>Add Product</h1>
      <form (submit)="addProduct()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="product.description">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  <h1>Hello {{title}}</h1>
  <div class="container">
    <div class="products--grid">
      <div *ngFor="let p of products">
        <h2>{{p.name}}</h2>
        <p>{{p.description}}</p>
        <p>{{p.price | currency}}</p>
        <img  [src]="p.image" alt="{{p.name}}">
      </div>
    </div>
  </div>


<hr/>

<h1 >*ngSwitch</h1>
<div [ngSwitch]="product.name">
  <div *ngSwitchCase="'Juan'">
    <p>Juan</p>
  </div>
  <div *ngSwitchCase="'Pedro'">
    <p>Pedro</p>
  </div>
  <div *ngSwitchDefault>
    <p>no match</p>
  </div>
</div>

</div>


