<div class="container">

   <h2>formulario</h2>
   <form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
      <input required="true" type="text" name="name" id="name" [(ngModel)]="register.name" >
      <label for="name">Nombre</label>
      <p>mensaje error</p>
    </div>
    <div class="input-group">
      <input [pattern]="'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'" required="true" type="email" name="email" id="email" [(ngModel)]="register.email" >
      <label for="email">Email</label>
      <p>mensaje error</p>
    </div>
    <div class="input-group">
      <input required="true" type="password" name="password" id="password" [(ngModel)]="register.password" >
      <label for="password">password</label>
      <p>mensaje error</p>
    </div>
       <button type="submit" [disabled]="myForm.invalid">registrar</button>

   </form>

   <hr>
  <h2>ngClass {{title}}</h2>
    <!--input con ngClass angular-->
    <input type="text"  required #nameInput4="ngModel" [(ngModel)]="title">
    <p [ngClass]="{
      'text-success': nameInput4.valid,
      'text-danger': nameInput4.invalid
    }">
      proceso {{nameInput4.valid}} </p>

    <h2>ng-style</h2>
    Mueve los inputs de tamaño
    <input type="color" [(ngModel)]="colorImg">
    <div [ngStyle]="{
      'width.px': widthImg,
      'height.px': heightImg,
      'background-color': colorImg
    }"></div>



   <h2>class and style</h2>
   <input type="number" #reqInput="ngModel"  required="true" [(ngModel)]="widthImg" >
   <input type="number" #reqInput="ngModel"  required="true" [(ngModel)]="heightImg" >
   <p class="message-error"  [class.visible]="reqInput.invalid">este campo es requerido</p>
   <div [style.font-style]="reqInput.invalid?'normal':'italic'" >Cambio de estilos en tiempo real</div>
                       <!-- tambien se puede usar style.width.% -->
    <img [src]="user.avatar" [style.width.px]="widthImg" [style.height.px]="heightImg" [style.border]="'1px solid black'">
  // add products
  <div class="row">
    <div class="col-md-12">
      <h1>Add Product</h1>
      <form (submit)="addProduct()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name1" name="name" [(ngModel)]="product.name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="product.description">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  <h1>Hello {{title}}</h1>
  <div class="container">
    <div class="products--grid">
      <div *ngFor="let p of products">
        <h2>{{p.name}}</h2>
        <p>{{p.description}}</p>
        <p>{{p.price | currency}}</p>
        <img  [src]="p.image" alt="{{p.name}}">
      </div>
    </div>
  </div>


<hr/>

<h1 >*ngSwitch</h1>
<div [ngSwitch]="product.name">
  <div *ngSwitchCase="'Juan'">
    <p>Juan</p>
  </div>
  <div *ngSwitchCase="'Pedro'">
    <p>Pedro</p>
  </div>
  <div *ngSwitchDefault>
    <p>no match</p>
  </div>
</div>

</div>


